#-----------------------------------------------------------------------------------------------
#Begin by renaming this file to .env and filling in the appropriate values for your environment.
#-----------------------------------------------------------------------------------------------

# AllegroGraph Credentials
AG_BASE_URL=allegrograph_base_url
AG_REPO=your_repository_name
AG_USER=your_allegrograph_username
AG_PASSWORD=your_allegrograph_password

# System Paths (Update these based on your OS and installations)
JAVA_HOME=C:\Program Files\Java\jdk-17
H2_JAR_PATH=./h2/bin/h2-2.4.240.jar
ONTOP_DIR=./ontop-cli-5.4.0